[package]
name = "cmajor"
description = "Rust bindings for the Cmajor JIT engine."
version = "0.7.0"
edition = "2021"
license = "GPL-3.0-or-later"

[features]

[dependencies]
cmajor-core = { workspace = true }
cmajor-macros = { workspace = true }
