[package]
name = "examples"
version = "0.0.0"
publish = false
edition = "2021"

[dev-dependencies]
cmajor = { workspace = true }
cpal = "0.16.0"

[[example]]
name = "hello_world"
path = "hello_world.rs"

[[example]]
name = "endpoints"
path = "endpoints.rs"
